<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MAS</display-name>
  <welcome-file-list>
    <welcome-file>jsp/index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MovieController</display-name>
    <servlet-name>MovieController</servlet-name>
    <servlet-class>com.tcs.ilp.mas.controller.MovieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieController</servlet-name>
    <url-pattern>/MovieController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.tcs.ilp.mas.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketController</display-name>
    <servlet-name>TicketController</servlet-name>
    <servlet-class>com.tcs.ilp.mas.controller.TicketController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketController</servlet-name>
    <url-pattern>/TicketController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MultiplexController</display-name>
    <servlet-name>MultiplexController</servlet-name>
    <servlet-class>com.tcs.ilp.mas.controller.MultiplexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiplexController</servlet-name>
    <url-pattern>/MultiplexController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewController</display-name>
    <servlet-name>ViewController</servlet-name>
    <servlet-class>com.tcs.ilp.mas.controller.ViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewController</servlet-name>
    <url-pattern>/ViewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageController</display-name>
    <servlet-name>ImageController</servlet-name>
    <servlet-class>com.tcs.ilp.mas.controller.ImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageController</servlet-name>
    <url-pattern>/ImageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketWithBeanController</display-name>
    <servlet-name>TicketWithBeanController</servlet-name>
    <servlet-class>com.tcs.ilp.mas.controller.TicketWithBeanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketWithBeanController</servlet-name>
    <url-pattern>/TicketWithBeanController</url-pattern>
  </servlet-mapping>
</web-app>